.container {
    padding: var(--box-padding);
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--white_normal);
}

h2 {
    color: var(--white_normal);
    font-size: var(--title-fontSize);
}

h3{
    color: var(--white_normal);
    font-size: var(--subtitle-fontSize);
}

p {
    color: var(--gray_1);
    letter-spacing: 1.3px;
    line-height: 22px;
}

.mainCta {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: var(--secondary_normal);
    border-radius: 5px;
    transition: .5s;
    font-size: 24px;
    text-transform: uppercase;
}

.mainCta:hover {
    transform: scale(.98);
    -webkit-box-shadow: 0px 0px 15px 5px var(--secondary_normal);
    -moz-box-shadow: 0px 0px 15px 5px var(--secondary_normal);
    box-shadow: 0px 0px 15px 5px var(--secondary_normal);
    transition: .5s;
}

header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000000;
}

header img {
    max-width: 200px;
}

header a+a {
    margin-left: 2vw;
}

header a {
    color: #fff;
    font-size: 14px
}

header a span {
    position: relative;
}

header a span::before {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--primary_normal);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.ctaHeader {
    width: fit-content;
    padding: 15px;
    font-size: 15px;
}


.bar {
    width: 30px;
    height: 20px;
    z-index: 100000;
    display: none;
}

.bar div {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #fff;
    transition: .3s;
}

.bar div {
    margin-bottom: 5px;
}

.activeBars .top {
    transform: rotate(-45deg) translate(-11px, 11px);
}

.activeBars .middle {
    transform: translateX(-20px);
    opacity: 0;
}

.activeBars .bottom {
    transform: rotate(45deg);
}

.activeNav {
    transform: translateX(0);
}


@media (max-width: 800px) {
    .bar {
        display: block;
    }

    nav {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        transform: translateX(-100%);
        transition: .3s;
    }


    header a {
        font-size: 16px
    }

    header a span {
        font-size: 20px;
    }
}




.headline {
    gap: 8vh;
}

.headline h1,
.headline p {
    text-align: center;
}

.headline h1 {
    font-size: 3rem;
    color: var(--white_normal);
}

.headline h1 span {
    color: var(--secondary_normal);
}

.headline p {
    font-size: 1rem;
    color: var(--gray_7);
}

.headline img {
    max-width: 100%;
    border-radius: var(--img-border);
}

@media (max-width: 800px) {
    .headline{
        padding: 120px 5%;
    }
}





/*--------------------------DIFERENCIAIS-----------------------------*/

.diferenciais {
    flex-direction: column;
    gap: 5vh;
}

.diferenciais .texts {
    text-align: center;
}

.diferenciais .cardsSection {
    width: 100%;
    min-height: 250px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.diferenciais .cardsSection .card {
    max-width: 100%;
    height: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    gap: 2vh;
}

.diferenciais .cardsSection .card img {
    max-width: 50px;
}



/*--------------------------Planos-----------------------------*/

.planos {
    flex-direction: column;
    gap: 5vh;
}

.planos .texts {
    text-align: center;
}

.planos .cardsSection {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

.planos .cardsSection .cardBack {
    max-width: 100%;
    min-height: 350px;
    height: fit-content;
    background-color: #20202082;
    background-image: linear-gradient(163deg, var(--primary_normal) 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.planos .cardsSection .card {
    max-width: 100%;
    min-height: 350px;
    height: fit-content;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    gap: 3vh;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.planos .cardsSection .card:hover {
    transform: scale(.98);
    border-radius: 20px;
}

.cardBack:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.planos .cardsSection .card img {
    max-width: 50px;
    transform: .5s;
}

.planos .cardsSection .card a {
    background-color: #fff;
    padding: 15px;
    width: 60%;
    border-radius: 50px;
    text-align: center;
}

.planos .cardsSection .card p {
    font-size: 15px;
    text-align: center;
}


.planos .cardsSection .card div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    gap: 20px;
}

.planos .cardsSection .card div img {
    max-width: 30px;
}

.planos .cardsSection .card .qualities {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

.planos .cardsSection .card .qualities p {
    text-align: left;
}



/*--------------------------Funcionário-----------------------------*/

.funcionario {
    text-align: center;
    gap: 5vh;
    background: rgb(15, 65, 112);
    background: radial-gradient(circle, rgba(15, 65, 112, 1) 0%, rgba(10, 8, 30, 1) 66%);
}


/*--------------------------BTN WHATS-----------------------------*/


.btnWhats {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 50px;
}

.btnWhats img {
    max-width: 100%;
}





/*--------------------------contactSection-----------------------------*/


.contactSection {
    width: 100vw;
    padding: var(--box-padding);
}

.contactCard {
    width: 100%;
    min-height: 30vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--secondary_normal);
    border-radius: 20px;
}

.left,
.right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.left {
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}




/*--------------------------Case Studu-----------------------------*/

.caseStudySection{
    align-items: flex-start !important;
    gap: 50px;
}

.caseStudySection .caseStudyCard {
    width: 100%;
    height: 100%;
    background: rgba(69, 208, 250, 0.13);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
}

.caseStudySection .caseStudyCard .grid2{
    padding: 40px 0 ;
}

.caseStudySection .caseStudyCard .grid2 .left, .caseStudySection .caseStudyCard .grid2 .right{
    padding: 0;
}

.caseStudyCard .grid2 .right{
    align-items: center;
    justify-content: center;
}

.caseStudySection .caseStudyCard  img{
    max-width: 80%;
}

@media (max-width: 800px) {
    .caseStudySection .caseStudyCard .grid2 {
        gap: 50px;
    }

    .caseStudySection .caseStudyCard .grid2  img{
        max-width: 100%;
    }
}





/*--------------------------FAQ-----------------------------*/


.faqSection {
    gap: 8vh;
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.faq .quest {
    cursor: pointer;
}

.faq .answer {
    height: 1px;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.activeAnswer {
    transition: .5s;
    height: fit-content !important;
    overflow: hidden !important;
    opacity: 1 !important;
}


/*--------------------------TEXT e IMG-----------------------------*/

.flex .Textimg {
    display: flex;
    align-items: center;
    padding-top: -10%;
}

.flex h3 {
    padding-right: 60%;
    display: flex;
    align-items: center;
    gap: 2vh;
}


.criador .left {
    gap: 30px;
}

.criador .left h3 {
    color: #8a2be2
}

.criador .left h2 {
    font-size: 40px;
}

.criador .right {
    align-items: flex-end;
}

.criador .right img {
    max-width: 90%;
    border-radius: var(--img-border);
}




.delay .left {
    gap: 30px;
    order: 2;
}

.delay .left h3 {
    color: #8a2be2
}

.delay .left h2 {
    font-size: 40px;
}

.delay .right {
    align-items: flex-start;
    order: 1;
}

.delay .right img {
    max-width: 90%;
    border-radius: var(--img-border);
}



/*--------------------------ScrollTop-----------------------------*/

.scrollTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    cursor: none;
    transform: translateY(40px) scale(0);
    transition: .3s;
}

.scrollTop-active {
    opacity: 1 !important;
    cursor: pointer;
    transform: translateY(0px) scale(1) !important;
    transition: .3s;
}


/*--------------------------MOBILE-----------------------------*/

@media (max-width: 1100px) {
    .diferenciais .cardsSection {
        grid-template-columns: 50% 50%;
    }
}


@media (max-width: 800px) {
    .diferenciais .cardsSection {
        grid-template-columns: 1fr;
    }

    .planos .cardsSection {
        grid-template-columns: 1fr;
    }

    .criador,
    .delay {
        gap: 30px;
    }

    .criador .right img,
    .delay .right img {
        max-width: 100%;
    }

    .delay .left {
        order: 1;
    }

    .delay .right,
    .criador .right {
        order: 2;
        align-items: center;
    }
}