.container {
    padding: var(--box-padding);
    flex-direction: column;
}

a {
    text-decoration: none;
}
 h1 {
    color: var(--white_normal);
}
h2 {
    color: var(--white_normal);
}
p {
    color: var(--gray_7);
}

.headline {
    gap: 5vh;
}

.headline h1,
.headline p {
    text-align: center;
}

.headline h1 {
    font-size: 2.5rem;
    color: var(--white_normal);
}

.headline h1 span {
    color: var(--green);
}

.headline p {
    font-size: 1rem;
    color: var(--gray_7);
}

.headline img {
    max-width: 70%;
    border-radius: 30px;
}

.headline .mainCta {
    width: 70%;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px #8a2be2;
    -moz-box-shadow: 0px 0px 15px 5px #8a2be2;
    box-shadow: 0px 0px 15px 5px #8a2be2;
}




/*--------------------------DIFERENCIAIS-----------------------------*/

.diferenciais{
    flex-direction: column;
    gap: 5vh;
}

.diferenciais .texts{
    text-align: center;
}

.diferenciais .cardsSection{
    width: 100%;
    min-height: 250px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.diferenciais .cardsSection .card{
    max-width: 100%;
    height: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    gap: 2vh;
}

.diferenciais .cardsSection .card img{
    max-width: 50px;
}



/*--------------------------Planos-----------------------------*/

.planos{
    flex-direction: column;
    gap: 5vh;
}

.planos .texts{
    text-align: center;
}

.planos .cardsSection{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

.planos .cardsSection .card{
    max-width: 100%;
    min-height: 350px;
    height: fit-content;
    background-color: #20202082;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    gap: 2vh;
    backdrop-filter: blur(10px);
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.planos .cardsSection .card img{
    max-width: 50px;
    transform: .5s;
}

.planos .cardsSection .card a{
    background-color: #fff;
    padding: 15px;
    width: 60%;
    border-radius: 50px;
    text-align: center;
}

.planos .cardsSection .card .cardHover{
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

.planos .cardsSection .card div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 10%;
    gap: 20px;
}

.planos .cardsSection .card div img{
    max-width: 40px;
}

/* .planos .cardsSection .card:hover .cardHover{
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}






.planos .cardsSection .card:hover{
    min-height: 350px;
    transition: .5s;
}

.planos .cardsSection .card:hover .cardLogo{
    max-width: 40px;
    position: absolute;
    top: 20px;
    left: 60px;
    transform: .5s;
}

.planos .cardsSection .card:hover h3{
    position: absolute;
    top: 30px;
    left: calc(50% - 12%);
}

.planos .cardsSection .card:hover p{
    display: none;
}

.planos .cardsSection .card:hover div{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    display: none;
} */

